###EXERCISES DAY 8

In [28]:
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
age = [22, 19, 24, 25, 26, 24, 25, 24]

Exercise Level 1

In [29]:
print(len(it_companies))

7

In [30]:
it_companies.add('Twitter')

In [31]:
it_companies.update('multiple_it_companies')

In [32]:
it_companies.remove('Apple')

Remove: To move something from one place to another
Discard: To throw away

Exercise Level 2

In [33]:
set_a_b = A.union(B)

In [34]:
intersect_a_b = A.intersection(B)

In [35]:
subset = A.issubset(B)

In [36]:
disjoint = A.isdisjoint(B)

In [37]:
set_a = A.union(B)
set_b = B.union(A)

In [38]:
s_difference = set_a.symmetric_difference(set_b)

In [39]:
del A, B

EXERCISE LEVEL 3

In [40]:
convert = set('age')
print(len(list(age)))
print(len(set(age)))

8
5

String: A string is a sequence of characters enclosed in single quotes ('') or double quotes (""). Strings are immutable, which means you cannot change individual character within a string. However, you can perform various operations on strings, such as concatenation, slicing and formatting.

List: A list is a collection of items that are odered and changeable. It is denoted by square brackets []. Lists can contain elements of different data types, such as numbers, strings, or other lists. You can access elements in a list using their index, and you can modify, add or remove elements from a lists.

Tuple: A tuple is similar to a list, but it is immutable, meaning you cannot modify its elements once it is created. Tuples are denoted by parentheses (). Tuples are often used to store related piece of information together. You can access elements in a tuple using their index, just like a list.

Set: A set is an unordered collection of unique elements. It is denoted by curly braces {}. Sets do not allow duplicate values, and they are mutable, meaning you can add or remove elements from a set. Sets are useful when you want to perform mathematical operations like union, intersection, and difference on collections of items.

In [41]:
sentence = 'I am a teacher and i love to inspire and teach people'
words = sentence.split()
unique_words = set(words)
num_unique_words = len(unique_words) 
print('The number of unique word in the sentence is: ', num_unique_words)

The number of unique word in the sentence is:  11