## EXERCISE DAY 11

EXERCISE LEVEL 1

In [668]:
def add_two_numbers(num_1, num_2):
    sum = num_1 + num_2
    return sum
print('Add two numbers: ', add_two_numbers(3, 4))

Add two numbers:  7

In [669]:
def area_of_circle(r):
    pi = 3.14
    area = pi * r **2
    return area
print('Area of circle: ', area_of_circle(5))

Area of circle:  78.5

In [670]:
def add_all_nums(n):
    total = 0
    for i in range(n + 1):
        total += 1
        print(total)
print('Add all nums: ', add_all_nums(100))

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
Add all nums:  None

In [671]:
def celsius_to_fahrenheit(celsius):
    fahrenheit = (celsius * 9/5) + 32
    return fahrenheit
print('celsius to fahrenheit: ', celsius_to_fahrenheit(25)) # this converts 25 degree celsius to 77 degree fahrenheit

celsius to fahrenheit:  77.0

In [672]:
def check_season(months):
    months = 'January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November','December'
    if months in ['December','January', 'February']:
        return 'Winter'
    elif months in ['March', 'April', 'May']:
        return 'Spring'
    elif months in ['June', 'July', 'August']: 
        return 'Summer'
    elif months in ['September', 'October', 'November']:
        return 'Autumn'
    else:
        return 'invalid month'

In [673]:
def calculate_slope(x1, y1, x2, y2):
    change_in_y = y2 - y1
    change_in_x = x2 - x1
    slope = change_in_y / change_in_x
    return slope
print(calculate_slope)

<function calculate_slope at 0x0000013964CD6940>

In [674]:
def print_list(list):
    list = ['apple', 'cat', 'mango', 'orange']
    for items in list:
        print(list)
print(print_list(list))

['apple', 'cat', 'mango', 'orange']
['apple', 'cat', 'mango', 'orange']
['apple', 'cat', 'mango', 'orange']
['apple', 'cat', 'mango', 'orange']
None

In [675]:
def reverse_list(array):
   reversed_array = []
   for i in range(len(array) -1, -1, -1):
       reversed_array.append(array[i])
       return reversed_array
   print(reverse_list([1, 2, 3, 4, 5]))
   print (reverse_list(['A', 'B', 'C']))

In [676]:
list = ['apple', 'cat', 'mango', 'orange']
def capitalize_list_items(list):
    capitalize_list = capitalize_list_items(list)
    print(capitalize_list)

In [677]:
def add_item(food_stuff):
    food_stuff = ['Potato', 'Tomato', 'Mango', 'Milk']
    for items in food_stuff:
        food_stuff.append('Milk')
        return food_stuff
        print(add_item(food_stuff, 'Meat'))

In [678]:
def remove_item(food_stuff):
    food_stuff = ['Potato', 'Tomato', 'Mango', 'Milk']
    for items in food_stuff:
        food_stuff.remove('Mango')
        return food_stuff
        print(remove_item(food_stuff, 'Mango'))

In [679]:
def sum_of_numbers():
    for i in range(1, 100):
        sum = i + 1
        return sum
    print('sum of numbers: ', sum_of_numbers(1, 100))

In [680]:
def sum_of_odds(start, end):
    sum = 0
    for i in range(start, end+1):
        if i % 2 != 0:
            sum += i
            return sum
sum_of_odd_numbers = sum_of_odds(1, 10)
print('The sum of odd numbers: ', sum_of_odd_numbers)

The sum of odd numbers:  1

In [681]:
def sum_of_even(start, end):
    sum = 0
    for num in range(start, end+1):
        if num % 2 == 0:
            sum += num
            return sum
        print(sum)
print('The sum of even: ', sum_of_even(1, 100))

0
The sum of even:  2

EXERCISE LEVEL 2

In [682]:
def count_even_odd_numbers(n):
    even_count = 0
    odd_count = 0
    for num in range(1, n+1):
        if num % 2 == 0:
            even_count += 1
        else:
            odd_count += 1
    return even_count, odd_count
    print('The number of even count: ', even_count(10))
    print('The number of odd count: ', odd_count(10))

In [683]:
def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n - 1)
print(factorial(5))

120

In [684]:
def is_empty(parameter):
    if not parameter:
        return True
    else:
        return False

In [685]:
import statistics

list = [ 1, 2, 3, 4, 5]
def calculate_mean(list):
    return sum(list) / len(list)


def calculate_median(list):
    return statistics.median(list)


def calculate_mode(list):
    return statistics.mode(list)


def calculate_range(list):
    return max(list) - min(list)


def calculate_variance(list):
    return statistics.variance(list)

def calculate_stdev(list):
    return statistics.stdev(list)

EXERCISE LEVEL 3

In [686]:
def is_prime(number):
    if number <= 1:
        return False
    for i in range(2, int(number ** 0.5) + 1):
        if number % i == 0:
            return False
    return True
print(is_prime(5))
print(is_prime(16))

True
False

In [687]:
def are_unique(list):
    if len(list) == len(set(list)):
        return True
    else:
        return False
    
print(are_unique([1, 2, 3, 4, 5]))

True

In [688]:
def check_dtype(list):
    dtypes = set()
    for items in list:
        dtypes.add(type(items))
        return dtypes
    print(dtypes([None, 6, 5.6 , 'Ada']))

In [689]:
def check_python_variable(variable):
    return isinstance(variable, type)