## EXERCISE DAY 13

In [38]:
numbers = [-4, -3, -2, -1, 0, 2, 4, 6]
negative_numbers = [ num for num in numbers if num  % 2 != 0 and num == 0 ]
print(negative_numbers)

[]

In [39]:
list_of_lists = [[[1, 2, 3]], [[4, 5, 6]], [[7, 8, 9]]]
flattened_list = [number for row in list_of_lists for number in row]
print(flattened_list)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [40]:
x = [(i, 1, i, i**2, i**3, i**4, i**5) for i in range(11)]
print(x)

[(0, 1, 0, 0, 0, 0, 0), (1, 1, 1, 1, 1, 1, 1), (2, 1, 2, 4, 8, 16, 32), (3, 1, 3, 9, 27, 81, 243), (4, 1, 4, 16, 64, 256, 1024), (5, 1, 5, 25, 125, 625, 3125), (6, 1, 6, 36, 216, 1296, 7776), (7, 1, 7, 49, 343, 2401, 16807), (8, 1, 8, 64, 512, 4096, 32768), (9, 1, 9, 81, 729, 6561, 59049), (10, 1, 10, 100, 1000, 10000, 100000)]

In [41]:
countries = [('Finland', 'Helsinki')], [('Sweden', 'Stockholm')], [('Norway', 'Oslo')]
flattened_list = [[country[0][0].upper(), country[0][0][:3].upper(),country[0][1].upper()] for country in countries ]
print(flattened_list)

[['FINLAND', 'FIN', 'HELSINKI'], ['SWEDEN', 'SWE', 'STOCKHOLM'], ['NORWAY', 'NOR', 'OSLO']]

In [42]:
countries = [('Finland', 'Helsinki')], [('Sweden', 'Stockholm')], [('Norway', 'Oslo')]
dictionary = [{'country': country[0][0].upper(), 'city': country[0][1].upper()} for country in countries]
print(dictionary)

[{'country': 'FINLAND', 'city': 'HELSINKI'}, {'country': 'SWEDEN', 'city': 'STOCKHOLM'}, {'country': 'NORWAY', 'city': 'OSLO'}]

In [43]:
names = [[('Asabeneh', 'Yetayeh')], [('David', 'Smith')], [('Donald', 'Trump',)], [('Bill', 'Gates')]]
full_names = [name for name in names]
print(full_names)

[[('Asabeneh', 'Yetayeh')], [('David', 'Smith')], [('Donald', 'Trump')], [('Bill', 'Gates')]]

In [ ]:
slope =