EXERCISES DAY 5

EXERCISE LEVEL 1

In [12]:
Empty_list = []

In [13]:
List = ['rice', 'mango', 'potatoes', 'banana', 'corn']

In [14]:
len(List)

5

In [15]:
mixed_data_types = ['Halimat', 28, 5.5, 'Married', 'Abuja']

In [16]:
it_companies = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

In [17]:
print(it_companies)

['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

In [18]:
print(len(it_companies))

7

In [19]:
print(it_companies[0 : 3 : -1])

[]

In [20]:
print(it_companies[-1])

Amazon

In [21]:
it_companies.append('IT')

In [22]:
it_companies.insert('IT', 3)

TypeError: 'str' object cannot be interpreted as an integer

In [ ]:
it_companies['Apple'].upper()

In [ ]:
it_companies.join('#')

In [ ]:
does_exist = 'IBM'in it_companies
print(does_exist)

In [ ]:
it_companies.sort()

In [ ]:
it_companies.sort(ascending = False)

In [ ]:
it_companies[0 : 4]

In [ ]:
it_companies[3]

In [ ]:
it_companies.remove(0)

In [ ]:
it_companies.remove(3)

In [ ]:
it_companies.remove(-1)

In [ ]:
it_companies.remove(all)

In [ ]:
del it_companies

In [ ]:
front_end = ['HTML','CSS', 'JS', 'React', 'Redux']
backend = ['Node', 'Express', 'MongoDB']
joined = front_end.join('backend')

In [ ]:
full_stack = joined.copy()
full_stack.insert('Python', 'SQL')

EXERCISE LEVEL 2

In [ ]:
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]

In [ ]:
ages.sort()
ages.append(19, 25)
print(ages)

In [ ]:
median_age = (22 + 24 ) / 2

In [ ]:
average = ages.sum()/ 12

In [ ]:
range = max - min
range = 25 - 19
print(range)

In [ ]:
middle_country = 'Laos'